@font-face {
    font-family: 'Avenir Next';
    @import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro'); /* File to be stored at your site */

}

body {
    background-color: #0C475B;
}

header {
    text-align: center;
    color: white;
    padding: 30px;
    display: flex;
}

header h1 {
    font-size: 80px;
    text-shadow: 1px 1px 9px black;
    -webkit-text-stroke: 2px black;
}

/*Header (Form page)*/
h2 {
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    font-size: 3em;
}

header a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.6;
}

section {
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 600px;
}

p{
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;


}

.login {
    display: flex;
    justify-content: right;
    height: 10px;
}

.login a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.login a:hover {
    opacity: 0.5;
}

.login i {
    font-size: x-large;
    margin-left: 6px;
}

.navbar {
    max-width: 75%;
    margin: auto;
}

.navbar a {
    padding-bottom: 1px;
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    border-bottom: 1px solid transparent;
}

.navbar a:hover {
    color: black;
    border-bottom: 2px solid black;
    transition-duration: 700ms;
}

.border-bottom {
    border-width: 2px !important;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}