body {
    background-color: #0C475B;
}

header {
    text-align: center;
    color: white;
    padding: 30px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

header h1 {
    font-size: 80px;
}

.navbar {
    max-width: 75%;
    margin: auto;
}

.navbar a {
    padding-bottom: 3px;
}

.navbar a:hover {
    border-bottom: 2px solid #000;
}

.border-bottom {
    border-width: 2px !important;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}