body {
    background-color: #0C475B;
}

.center-content {
    padding-top: 50px;
    text-align: center;
}

header {
    text-align: center;
    color: white;
    padding: 30px;
    display: flex;
}

h1 {
    font-size: 80px;
    text-shadow: 1px 1px 9px black;
    -webkit-text-stroke: 2px black;
}

h2{
    font-family: 'Oswald', sans-serif;
}

h4{
    color: white;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Afacad', sans-serif;
    font-weight: 400;
}


div{
    border-radius: 10px;

}

a {
    text-decoration: none;
    color: white;
}

.login {
    display: flex;
    justify-content: right;
    height: 10px;
}

.login a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
}

.login a:hover {
    opacity: 0.5;
}

.login i {
    font-size: x-large;
    margin-left: 6px;
}


.navbar {
    max-width: 75%;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    margin: auto;
}

.navbar a {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

.navbar a:hover {
    color: black;
    border-bottom: 2px solid black;
    transition-duration: 700ms;
}

.border-bottom {
    border-width: 2px !important;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.fit-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.8s ease;
}

button{
    background-color: #0d6efd;
    padding: 12px 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.stories-button{
    width: 300px;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}


