
/* text info */

@font-face {
    font-family: 'Avenir Next';
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro'); /* File to be stored at your site */

}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



/*Background (Index page)*/
body {
    background-color: #293341;
    font-size: 18px;
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    margin: 0;
    padding: 0;
}
/*Background (Index page) end*/



/*BorderCalender*/
nav {
    display: flex;
    font-size: 18px;
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    background-color: rgb(77, 166, 134);
    position: fixed;
    width:100vw;
    justify-content:space-between;
}
/*BorderCalender*/



/*Border upper section (Indexpage)*/
nav div {
    padding: 22px;
    height: 100%;
}
/*Border upper section (Indexpage) end*/



/*Header (index page)*/
header {
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    font-size: 2em;
    padding-top: 10vh;
    color: #282828;
    text-align: center;
    height: 20vh;
    /*background-image: url(https://cdn.discordapp.com/attachments/372804664053334016/894930878491426816/transumanismul-si-promisiunea-nemuririi-24837.png);*/
    background-size: cover;
    background-position: center;
}
/*Header (index page) end*/


tr {
background-color: #4DA686
}

tfoot td {
    text-align: center;
    font-weight: bold;
}
table {
    width: auto;
    margin:200px;
    margin-top: 20px;
    padding: 91px;
    color: black;
}


/*links on white background*/
h1 {
    margin-top: -80px;
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    font-weight: bold;
    padding-top:10vh;
    margin-left: 90px;
    line-height: 150%;
    font-size: 1.5em;
}
/*training list end*/



/*Header (Form page)*/
h2 {
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    font-size: 3em;
    padding-top: 10vh;
    color: #ffffff;
    text-align: center;
    height: 20vh;
    /*background-image: url(https://cdn.discordapp.com/attachments/372804664053334016/894930878491426816/transumanismul-si-promisiunea-nemuririi-24837.png);*/
    background-size: cover;
    background-position: center;
}
/*Header (Form page)*/



/*training titles*/
h3 {
    margin-top: 60px;
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    font-weight: bolder;
    padding-top: 05vh;
    margin-left: 90px;
    font-size: 2em;
}
/*training titles end*/



/*training list*/
h4 {
    margin-top: -80px;
    font-family: 'Avenir Next LT Pro', sans-serif, Regular;
    font-weight: normal;
    padding-top:10vh;
    margin-left: 90px;
    line-height: 150%;
    font-size: 1.5em;
}
/*training list end*/



/*Colums*/
.left{
    width:50%;
    float:left;
    background:white;
    height:100%;
}

.right{
    width:50%;
    float:right;
    background: white;
    height:100%;
    margin: 0 1.5%;
}
/*Colums end*/



/*link text (Index page)*/
a {
    color: white;
    text-decoration: none;
}
/*link text (Index page) end*/



/*Hover text*/
a:hover {
    color: lightgreen;
    font-weight: bold;
}
/*Hover text end*/



/*Middle section background (index page)*/
section {
    background-color: #293341;
    margin: 20px auto;
    font-size: 1.1em;
    max-width: 800px;
}
/*Middle section background (index page) end*/


/*Form Design */
input[type=text], input[type=password], select, textarea {
    width: 266px;
    padding: 12px;
    border: 1px solid #282828;
    border-radius: 24px;
    box-sizing: border-box;
    margin-top: 9px;
    margin-bottom: 15px;
}

input[id=info], select, textarea {
    width: 420px;
    height: 240px;
    padding: 12px;
    border: 1px solid #282828;
    border-radius: 24px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #ffffff;
    color: #21252b;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #282828;
}
/*Form Design end*/


html {
    font-size: 62.5%;
}



.left-col, .right-col{
    background-color: #ffffff;
    width: 25%;
    float: left;
}

.center-col {
    width: 50%;
    float: left;
}
/* Calender design end*/


/* Footer*/
.footer {
    font-family:'Avenir Next LT Pro', sans-serif, Regular;
    background-color: #4DA686;
    height: 30vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    color: #4DA686;
    justify-content: center;
}
/* Footer end*/



/* login page*/
label {
    display: inline-block;
    color: white;
    width: 120px;
    font-weight: bold;
}


tfoot td {
    text-align: center;
    font-weight: bold;
}

td {
    padding: 0 10px;
}
td.image img {
    width: 50px;
    height: 50px;
}

.errors {
    color: red;
}